/* big tablet to 1200px (width smaller than px row */

@media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
}

/* small tablet to big tablet, from 768px to 1032px */

@media only screen and (max-width:1032px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .steps-box {
        margin-top: 10px;
    }
    .works-steps {
        margin-bottom: 40px;
    }
    .works-steps {
        margin-bottom: 40px;
    }
    .works-steps:last-of-type {
        margin-bottom: 60px;
    }
    .app-screen {
        width: 50%;
    }
    .icon-small {
        width: 17px;
        margin-right: 10px;
    }
    .city-feature {
        font-size: 90%;
    }
    .plan-box {
        width: 100%;
        margin-left: 0;
    }
    .plan-price {
        font-size: 250%;
    }
    .contact-form {
        width: 80%;
    }
   
}

/* small phones to small tablet: from 481px to 768px */

@media only screen and (max-width:768px) {
    body {
        font-size: 16px;
    }
    section {
        padding: 30px 0;
    }
    .row, .hero-text-box {
        padding: 0 4%;
        margin-bottom: 10px;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav {
        display: none;
    }
    .mobile-nav-icon {
        display: inline-block;
    }
    .main-nav {
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }
    .main-nav li {
        display: block;
    }
    .main-nav li a:link, .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 80%;
    }
    .sticky .main-nav {
        margin-top: 10px;
    }
    .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
        padding: 10px 0;
    }
    .sticky .mobile-nav-icon {
        margin-top: 10px;
    }
    .sticky .mobile-nav-icon i {
        color: #555;
    }
    h1 {
        font-size: 180%;
    }
    h2 {
        font-size: 150%;
    }
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 140%;
        margin-left: 40px;
    }
    .works-step p {
        padding-top: 7px;
        margin-right: 30px;
    }
    .app-screen {
        display: none;
    }
    .steps-box:first-child {
        text-align: center;
    }
    .works-step {
        margin-bottom: 40px;
    }
    .works-step:last-of-type {
        margin-bottom: 50px;
    }
    .steps-box {
        padding-top: 20px;
    }
    .img {
        display: none;
    }
    .steps {
        height: 30px;
    }
    .btn-app {
        padding-left: 100px;
    }
    .playstore {
        padding-left: 0;
    }
    .btn-app img {
        height: 40px;
        margin-bottom: 60px;
    }
    .box, .long-copy {
        margin-bottom: 15px;
    }
    .icon-big {
        font-size: 40px;
    }
    .box img {
        height: 320px;
        width: 100%;
    }
    blockquote {
        margin-top: 0px;
        margin-bottom: 30px !important;
    }
    .footer {
        margin-bottom: 0;
    }
    .box{
        margin-bottom: 30px!important;
    }
}

/* small phones from 0 to 480px */

@media only screen and (max-width:480px) {
    section {
        padding: 25px 0;
    }
    .contact-form {
        width: 100%;
    }
    .steps-box div {
        margin-left: 0;
    }
    .btn-app {
        padding-left: 30px;
        margin-bottom: 50px;
    }
    .box img {
        height: 200px;
        width: 100%;
    }
    blockquote {
        margin-bottom: 15px;
    }
}